In [1]:
import swat

conn = swat.CAS('dach-viya-smp.sas.com', 5570)
out = conn.serverstatus()
out

NOTE: Grid node action status report: 1 nodes, 8 total actions executed.

[About]

 {'CAS': 'Cloud Analytic Services',
  'Copyright': 'Copyright © 2014-2018 SAS Institute Inc. All Rights Reserved.',
  'ServerTime': '2019-01-17T12:36:18Z',
  'System': {'Hostname': 'dach-viya-smp',
   'Linux Distribution': 'CentOS Linux release 7.5.1804 (Core)',
   'Model Number': 'x86_64',
   'OS Family': 'LIN X64',
   'OS Name': 'Linux',
   'OS Release': '3.10.0-862.9.1.el7.x86_64',
   'OS Version': '#1 SMP Mon Jul 16 16:29:36 UTC 2018'},
  'Version': '3.04',
  'VersionLong': 'V.03.04M0P07112018',
  'license': {'expires': '01Aug2019:00:00:00',
   'gracePeriod': 45,
   'maxCPUs': 9999,
   'site': '18w30 VA-VS-VDMML-DACH r3',
   'siteNum': 70180938,
   'warningPeriod': 45}}

[server]

 Server Status

    nodes  actions
 0      1        8

[nodestatus]

 Node Status

                     name        role  uptime  running  stalled
 0  dach-viya-smp.sas.com  controller   0.829        0        0

+ Elapsed: 0.000541s, user: 0.000529s, mem: 0.295mb

In [2]:
conn.help(actionset='simple');
tbl = conn.read_csv('https://raw.githubusercontent.com/sassoftware/sas-viya-programming/master/data/cars.csv')

NOTE: Information for action set 'simple':
NOTE:    simple
NOTE:       mdSummary - Calculates multidimensional summaries of numeric variables
NOTE:       numRows - Shows the number of rows in a Cloud Analytic Services table
NOTE:       summary - Generates descriptive statistics of numeric variables such as the sample mean, sample variance, sample size, sum of squares, and so on
NOTE:       correlation - Computes Pearson product-moment correlations.
NOTE:       regression - Performs a linear regression up to 3rd-order polynomials
NOTE:       crossTab - Performs one-way or two-way tabulations
NOTE:       distinct - Computes the distinct number of values of the variables in the variable list
NOTE:       topK - Returns the top-K and bottom-K distinct values of each variable included in the variable list based on a user-specified ranking order
NOTE:       groupBy - Builds BY groups in terms of the variable value combinations given the variables in the variable list
NOTE:       freq - Generates a frequency distribution for one or more variables
NOTE:       paraCoord - Generates a parallel coordinates plot of the variables in the variable list
NOTE:       groupByInfo - Computes the index and frequency of each group-by group, and the index of each record within its group. Optionally keep or remove duplicates
NOTE: Cloud Analytic Services made the uploaded file available as table TMPCN12ELKR in caslib CASUSER(sasdemo01).
NOTE: The table TMPCN12ELKR has been created in caslib CASUSER(sasdemo01) from binary data uploaded to Cloud Analytic Services.

In [3]:
 tbl = conn.read_csv('https://raw.githubusercontent.com/sassoftware/sas-viya-programming/master/data/cars.csv', casout='cars')

NOTE: Cloud Analytic Services made the uploaded file available as table CARS in caslib CASUSER(sasdemo01).
NOTE: The table CARS has been created in caslib CASUSER(sasdemo01) from binary data uploaded to Cloud Analytic Services.

In [4]:
out = conn.summary(table=tbl)
out

,Column,Min,Max,N,NMiss,Mean,Sum,Std,StdErr,Var,USS,CSS,CV,TValue,ProbT,Skewness,Kurtosis
0,MSRP,10280.0,192465.0,428.0,0.0,32774.855140,14027638.0,19431.716674,939.267478,3.775916e+08,6.209854e+11,1.612316e+11,59.288490,34.894059,4.160412e-127,2.798099,13.879206
1,Invoice,9875.0,173560.0,428.0,0.0,30014.700935,12846292.0,17642.117750,852.763949,3.112443e+08,5.184789e+11,1.329013e+11,58.778256,35.196963,2.684398e-128,2.834740,13.946164
2,EngineSize,1.3,8.3,428.0,0.0,3.196729,1368.2,1.108595,0.053586,1.228982e+00,4.898540e+03,5.247754e+02,34.679034,59.656105,3.133745e-209,0.708152,0.541944
3,Cylinders,3.0,12.0,426.0,2.0,5.807512,2474.0,1.558443,0.075507,2.428743e+00,1.540000e+04,1.032216e+03,26.834946,76.913766,1.515569e-251,0.592785,0.440378
4,Horsepower,73.0,500.0,428.0,0.0,215.885514,92399.0,71.836032,3.472326,5.160415e+03,2.215110e+07,2.203497e+06,33.275059,62.173176,4.185344e-216,0.930331,1.552159
5,MPG_City,10.0,60.0,428.0,0.0,20.060748,8586.0,5.238218,0.253199,2.743892e+01,1.839580e+05,1.171642e+04,26.111777,79.229235,1.866284e-257,2.782072,15.791147
6,MPG_Highway,12.0,66.0,428.0,0.0,26.843458,11489.0,5.741201,0.277511,3.296139e+01,3.224790e+05,1.407451e+04,21.387709,96.729204,1.665621e-292,1.252395,6.045611
7,Weight,1850.0,7190.0,428.0,0.0,3577.953271,1531364.0,758.983215,36.686838,5.760555e+05,5.725125e+09,2.459757e+08,21.212776,97.526890,5.812547e-294,0.891824,1.688789
8,Wheelbase,89.0,144.0,428.0,0.0,108.154206,46290.0,8.311813,0.401767,6.908624e+01,5.035958e+06,2.949982e+04,7.685150,269.196577,0.000000e+00,0.962287,2.133649
9,Length,143.0,238.0,428.0,0.0,186.362150,79763.0,14.357991,0.694020,2.061519e+02,1.495283e+07,8.802687e+04,7.704349,268.525733,0.000000e+00,0.181977,0.614725

In [5]:
conn.loadactionset('percentile')
tbl.percentile()

NOTE: Added action set 'percentile'.

[Percentile]

 Percentiles for CARS

        Variable  Pctl     Value  Converged
 0          MSRP  25.0  20329.50        1.0
 1          MSRP  50.0  27635.00        1.0
 2          MSRP  75.0  39215.00        1.0
 3       Invoice  25.0  18851.00        1.0
 4       Invoice  50.0  25294.50        1.0
 5       Invoice  75.0  35732.50        1.0
 6    EngineSize  25.0      2.35        1.0
 7    EngineSize  50.0      3.00        1.0
 8    EngineSize  75.0      3.90        1.0
 9     Cylinders  25.0      4.00        1.0
 10    Cylinders  50.0      6.00        1.0
 11    Cylinders  75.0      6.00        1.0
 12   Horsepower  25.0    165.00        1.0
 13   Horsepower  50.0    210.00        1.0
 14   Horsepower  75.0    255.00        1.0
 15     MPG_City  25.0     17.00        1.0
 16     MPG_City  50.0     19.00        1.0
 17     MPG_City  75.0     21.50        1.0
 18  MPG_Highway  25.0     24.00        1.0
 19  MPG_Highway  50.0     26.00        1.0
 20  MPG_Highway  75.0     29.00        1.0
 21       Weight  25.0   3103.00        1.0
 22       Weight  50.0   3474.50        1.0
 23       Weight  75.0   3978.50        1.0
 24    Wheelbase  25.0    103.00        1.0
 25    Wheelbase  50.0    107.00        1.0
 26    Wheelbase  75.0    112.00        1.0
 27       Length  25.0    178.00        1.0
 28       Length  50.0    187.00        1.0
 29       Length  75.0    194.00        1.0

+ Elapsed: 0.008s, user: 0.0136s, sys: 0.0101s, mem: 6.58mb

In [6]:
tbl.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990.0,24647.0,2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195.0,30299.0,3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755.0,39014.0,3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [7]:
tbl.describe()

,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
count,428.000000,428.000000,428.000000,426.000000,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,32774.855140,30014.700935,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.362150
std,19431.716674,17642.117750,1.108595,1.558443,71.836032,5.238218,5.741201,758.983215,8.311813,14.357991
min,10280.000000,9875.000000,1.300000,3.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000
25%,20329.500000,18851.000000,2.350000,4.000000,165.000000,17.000000,24.000000,3103.000000,103.000000,178.000000
50%,27635.000000,25294.500000,3.000000,6.000000,210.000000,19.000000,26.000000,3474.500000,107.000000,187.000000
75%,39215.000000,35732.500000,3.900000,6.000000,255.000000,21.500000,29.000000,3978.500000,112.000000,194.000000
max,192465.000000,173560.000000,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,238.000000

In [8]:
tbl[['MSRP', 'Invoice']].describe(percentiles=[0.3, 0.7])

                MSRP        Invoice
count     428.000000     428.000000
mean    32774.855140   30014.700935
std     19431.716674   17642.117750
min     10280.000000    9875.000000
30%     22000.000000   20284.000000
50%     27635.000000   25294.500000
70%     35940.000000   32997.000000
max    192465.000000  173560.000000

In [10]:
conn.close()